License Owner: Owner
Cluster Name : <any>
Shards limit : 10
Valid        : 2022-10-15T00:00:00Z-2022-12-01T00:00:00Z
Features     : trial

----- LICENSE START -----
adfadfasdfsadfasdfasdfasdfsadfasdfasdfsadfadsfadsfadsfasdfff
adfasfasfasdfasdfasdfasdfasdfsadfsdafadsfasdfadsfasdfasfasdf
adfasdfsadfasdfsadfasdfasdfsadfasdfadsfsadfasdfadsfdasfadsds
adfasdfasdfasdfsadfadsfasdfasdfsdafdasfadsfasdfadsfadsfadafd
dafsdfadsfadsfasdfadsfasdfasdfasdfdasfadsfadsfasfasdfasdfadf
dafdfadsfasdfadsfdsafasdfasdfdsafasdfd==
----- LICENSE END -----